._bgc-green {
    background-color: #1ABC9C;
}

._bgc-grey {
    background-color: #2C3E50;
}

._bgc-darkgrey {
    background-color: #3A546D;
}

._btn-bg {
    background-color: #1ABC9C;
}

._w-line, ._b-line {
    height: 3px;
    border-radius: 2px;
}

._w-line {
    background-color: white;
}

._b-line {
    background-color: black;
}

._no-border {
    border: 0;
}

._message-area {
    width: 100%;
    height: 150px;
}

