._bgc-green {
    background-color: #1ABC9C;
}

._bgc-grey {
    background-color: #2C3E50;
}

._bgc-darkgrey {
    background-color: #3A546D;
}

.test-wh {
    border: 2px solid orange;
    width: 50px;
    height: 30px;
}

.test-bl {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}

.test-title {
    border: 1px solid dodgerblue;
    width: 150px;
    height: 50px;
}


.test-portfolio {
    border: 1px solid green;
    width: 300px;
    height: 250px;
}

._w-line, ._b-line {
    height: 3px;
    border-radius: 2px;
}

._w-line {
    background-color: white;
}

._b-line {
    background-color: black;
}

